body, html {
 margin: 0;
 padding: 0;
 height: 100%;
 font-family: sans-serif;
}

.first-view {
 width: 100vw;
 height: 100vh;
 background: white;
 position: relative;
 overflow: hidden;
 opacity: 1;
 transform: scale(1); /* ← 最初は普通サイズ */
	transition: opacity 1s ease, transform 1s ease; /* ← これがポイント */
	z-index: 3;
}
/* キラキラタイピング----------------------- */
@keyframes sparkle {
	0% {
			text-shadow: 0 0 5px #fff, 0 0 10px #fff;
	}
	50% {
			text-shadow: 0 0 15px #ff0, 0 0 20px #ff0;
	}
	100% {
			text-shadow: 0 0 5px #fff, 0 0 10px #fff;
	}
}

.sparkle {
	animation: sparkle 0.3s ease forwards;
}
/* キラキラタイピング-----------------------終わり*/
.video-mask {
 width: 100%;
 height: 100%;
 -webkit-mask-image: url('../img/silhouette1.png');
 -webkit-mask-size: contain;
 -webkit-mask-repeat: no-repeat;
 -webkit-mask-position: center;
 mask-mode: luminance;
 -webkit-mask-mode: luminance;
 mask-image: url('../img/silhouette1.png');
 mask-size: contain;
 mask-repeat: no-repeat;
 mask-position: center;
 display: flex;
 align-items: center;
 justify-content: center;
}

.video-mask video {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.catch-copy {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: #222;
 font-size: 2rem;
 text-align: center;
 pointer-events: none;
}
